body {
    background-color: bisque;
    margin: 0%;
    display: grid;

}

header {
    background-color: rgb(206, 137, 48);
    height: 100px;
}

header>h1 {

    text-align: center;
}

main {

    background-color: rgb(202, 161, 161);
    display: grid;
}

main>table{
    font-size: large;


}

footer {
    background-color: chartreuse;
    position: fixed;
    bottom: 0;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    border-top: 1px solid black;

}

footer>p {
    text-align: center;
    width: 50vw;

}

footer > ul{
    margin-right: 15px;

}
